<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div id="main">
            <div class="fof">
                    <h1>Error 404</h1>
            </div>
    </div>
	<script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>

	</body>
</html>